<noscript id="deferred-styles">
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="{{ 'assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}"
  />
  <link
    rel="stylesheet"
    href="{{ 'assets/css/overrides.css?v=' | append: site.github.build_revision | relative_url }}"
  />
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous"
  />
</noscript>
<script>
  var loadDeferredStyles = function () {
    var addStylesNode = document.getElementById("deferred-styles");
    var replacement = document.createElement("div");
    replacement.innerHTML = addStylesNode.textContent;
    document.body.appendChild(replacement);
    addStylesNode.parentElement.removeChild(addStylesNode);
  };
  var raf =
    window.requestAnimationFrame ||
    window.mozRequestAnimationFrame ||
    window.webkitRequestAnimationFrame ||
    window.msRequestAnimationFrame;
  if (raf)
    raf(function () {
      window.setTimeout(loadDeferredStyles, 0);
    });
  else window.addEventListener("load", loadDeferredStyles);
</script>
