<noscript id="deferred-styles">
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="{{ 'assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}"
  />
  <link
    rel="stylesheet"
    href="{{ 'assets/css/overrides.css?v=' | append: site.github.build_revision | relative_url }}"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
</noscript>
<script>
  var loadDeferredStyles = function () {
    var addStylesNode = document.getElementById('deferred-styles');
    var replacement = document.createElement('div');
    replacement.innerHTML = addStylesNode.textContent;
    document.body.appendChild(replacement);
    addStylesNode.parentElement.removeChild(addStylesNode);
  };
  var raf =
    window.requestAnimationFrame ||
    window.mozRequestAnimationFrame ||
    window.webkitRequestAnimationFrame ||
    window.msRequestAnimationFrame;
  if (raf)
    raf(function () {
      window.setTimeout(loadDeferredStyles, 0);
    });
  else window.addEventListener('load', loadDeferredStyles);
</script>
