{% comment %}
  Topic Navigation Component
  Displays horizontal scrollable pills linking to category archives
{% endcomment %}

<nav class="topic-nav" aria-label="Browse by topic">
  <ul class="topic-nav-list">
    {% assign top_categories = "intelligent Engineering,Software Design,Platform Engineering,Engineering Practices" | split: "," %}
    {% for cat in top_categories %}
    <li>
      <a href="{{ site.baseurl }}/blog/categories/{{ cat | slugify }}/" class="topic-pill">
        {{ cat }}
      </a>
    </li>
    {% endfor %}
    <li>
      <a href="{{ site.baseurl }}/blog/archive/" class="topic-pill topic-pill--all">
        All Posts
      </a>
    </li>
  </ul>
</nav>
