---
layout: default
---

<h1 class="entry-title">{{ page.title }}</h1>
{{ content }} {% if page.date %}
<div class="post-metadata">
  <div class="metadata-section">
    <h4>Created</h4>
    <div class="metadata-content">
      {% include date_with_ordinal.html date=page.date %}
    </div>
  </div>

  {% if page.updated %}
  <div class="metadata-section">
    <h4>Updated</h4>
    <div class="metadata-content">
      {% include date_with_ordinal.html date=page.updated %}
    </div>
  </div>
  {% endif %}
</div>
{% endif %}
