<section>
  <h1>About Karun</h1>
  <p><a href="{{site.bio_url}}" target=_blank">Karun</a> is developer, human and is post-appropriate.</p>

  <p>Usually not in that order.</p>

  <p>
    <a href="{{site.bio_url}}" target="_blank"><img src="{{ site.url }}/images/badges/ic08-interop-world-champ.jpg" alt="Microsoft Imagine Cup 2008 - Interoperability Award winner" title="Microsoft Imagine Cup 2008 - Interoperability Award winner" width="200"/></a>
    <a href="{{site.bio_url}}" target="_blank"><img src="{{ site.url }}/images/badges/javase6programmer.jpg" alt="Oracle certified Java 6 programmer" title="Oracle certified Java 6 programmer" width="200"/></a>
    <a href="{{site.bio_url}}" target="_blank"><img src="{{ site.url }}/images/badges/accenture-mit-asda.jpg" alt="Accenture & MIT certified Application Developer" title="Accenture & MIT certified Application Developer"width="200" /></a>
  </p>
</section>
