name: Jekyll site CI

on:
  push:
    branches: [ main ]
    paths-ignore:
      - "LICENSE"
      - "README.md"
      - "Dockerfile"
      - "local_run.sh"
      - "jekyll.thor"
  pull_request:
    branches: [ main ]
    paths-ignore:
      - "LICENSE"
      - "README.md"
      - "Dockerfile"
      - "local_run.sh"
      - "jekyll.thor"

env:
  RUBY_VERSION: 2.6.3

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Build the site in the jekyll/builder container
        run: |
          docker run \
          -v ${{ github.workspace }}:/srv/jekyll \
          -e JEKYLL_UID=$(id -u) \
          -e JEKYLL_GID=$(id -g) \
          jvconseil/jekyll-docker:4.3.3 jekyll build --future
      - uses: actions/upload-artifact@v5
        if: success() && github.ref == 'refs/heads/main'
        with:
          name: website-source
          path: ./_site
      - name: Deploy to S3
        if: success() && github.ref == 'refs/heads/main'
        run: aws s3 sync ./_site s3://${{ secrets.AWS_S3_BUCKET }} --acl public-read --delete
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: us-east-1
